.row
  .col-lg-12
    .panle.panel-default
      .panle-body
        .dataTable_wrapper
          %table.table.table-striped.table-bordered.table-hover#dataTable-Domain
            %thead
              %tr
                %th Username
                %th Email
                %th Actions
            %tbody
              - users.each do |user|
                %tr
                  %td= user.name
                  %td= user.email
                  %td
                    .row
                      .col-sm-2
                        = link_to '#', class: 'domain_user_edit', data: { attributes: user.json_presentation } do
                          %span.glyphicon.glyphicon-edit
                          Edit
                      .col-sm-2
                        = link_to domain_user_path(domain, user), method: :delete, data: { confirm: 'Are you sure ?' } do
                          %span.glyphicon.glyphicon-trash
                          Delete
                      