.row
  .col-lg-12
    %h1.page-header Dashboard
    .container
      .row.center-block
        .col-sm-offset-3
          .btn-group.btn-group-lg{"aria-label" => "...", :role => "group", :"data-toggle" => "buttons-checkbox"}
            %button.btn.btn-primary.fetch_graph_btn{:type => "button", :"data-value" => "day"} Day
            %button.btn.btn-success.fetch_graph_btn{:type => "button", :"data-value" => "week"} Week
            %button.btn.btn-warn.fetch_graph_btn{:type => "button", :"data-value" => "month"} Month

      / Nav tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#cpu", :role => "tab"}
            %icon.fa.fa-home
            CPU
        %li
          %a{"data-toggle" => "tab", :href => "#memory", :role => "tab"}
            %i.fa.fa-user
            Memory
        %li
          %a{"data-toggle" => "tab", :href => "#swap", :role => "tab"}
            %i.fa.fa-envelope
            Swap
        %li
          %a{"data-toggle" => "tab", :href => "#mail", :role => "tab"}
            %i.fa.fa-cog
            Mail
      / Tab panes
      .tab-content
        #cpu.tab-pane.fade.active.in
          %h2 CPU
          %img{:alt => "CPU", :src => "/images/munin/cpu-day.png"}/
        #memory.tab-pane.fade
          %h2 Memory
          %img{:alt => "Memory", :src => "/images/munin/memory-day.png"}/
        #swap.tab-pane.fade
          %h2 Swap
          %img{:alt => "Swap", :src => "/images/munin/swap-day.png"}/
        #mail.tab-pane.fade
          %h2 Mail
          %img{:alt => "Mail", :src => "/images/munin/mail-day.png"}/
